[Desktop Entry]
Categories=Application;Office;Publishing;X-SuSE-Core-Office;X-Mandriva-Office-Publishing;Qt;X-Misc;
Comment=
Comment[fr]=
DocPath=
Encoding=UTF-8
Exec=texmaker
GenericName=LaTeX Editor
GenericName[fr]=Editeur LaTeX
Icon=texmaker
MimeType=text/x-tex
MiniIcon=texmaker
Name=Texmaker
Name[fr]=Texmaker
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application

